body {
  text-align: center;
  background-color: #b8b8b8;
  margin: 0;
  padding: 50px;
}

h1 {
  color: #000000;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}
